@import "./nested/inc.scss";

.hello{
	.world{
		display:flex;
		color: $colorBlack;
	}
}

.hello{
	.world2{
		display:flex;
		color: $colorBlack;
	}
}

.hello{
	.world3{
		display:flex;
		color: $colorBlack;
	}
}



.hello2{
	.world{
		display:flex;
		color: $colorBlack;
	}
}

.hello2{
	.world2{
		display:flex;
		color: $colorBlack;
	}
}

.hello2{
	.world3{
		display:flex;
		color: $colorBlack;
	}
}